{% extends 'home/base.html' %}
{% block content %}

<div class="login-page">
  <div class="form">
    <form method="POST" action="{% url 'login' %}" class="login-form">
      {% csrf_token %}
      <input name="username" type="text" placeholder="아이디"/>
      <input name="password" type="password" placeholder="비밀번호"/>
      <button type="submit" value="Log in">로그인</button>
      <p class="message">아직 회원이 아니라면? <a href="{% url 'signup' %}">회원가입</a></p>
    </form>
  </div>
</div>

{% endblock %}
